<div class="todo-container">
  <h1>Todo List</h1>

  <div class="todo-input">
    <input
      matInput
      type="text"
      [(ngModel)]="newTodo"
      placeholder="Add a new task"
    />
    <button (click)="addTodo()">Add</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.completed">
      <mat-checkbox
        type="checkbox"
        [checked]="todo.completed"
        (change)="updateTodo(todo)"
      >
        <span>{{ todo.title }}</span> </mat-checkbox
      >/>

      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>
